@charset "utf-8";

/* CSS Document */
/*.logo {
  width: 300px;
  height: auto;
	display: block;
  margin: 0 auto;
}*/

body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: Arial, sans-serif;
}
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

    border-bottom: 1px solid #eee;
}

.logo img {
    height: 60px;
	
}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.menu a:hover {
    color: #e60023;
}

.acciones .icono {
    width: 28px;
    margin-left: 15px;
    cursor: pointer;
}

.carousel3d-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow3d {
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 12px 16px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 8px;
}

.carousel3d {
  width: 300px;
  height: 300px;
  perspective: 1000px;
  overflow: visible;
}

.carousel3d-track {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.9s ease;
}

.slide3d {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}

.slide3d img {
  width: 220px;
  height: 220px;
  object-fit: contain;
  border-radius: 50%;
  transition: transform .5s ease;
}


