@charset "utf-8";

/* CSS Document */
/*.logo {
  width: 300px;
  height: auto;
	display: block;
  margin: 0 auto;
}*/

body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: Arial, sans-serif;
}
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

    border-bottom: 1px solid #eee;
}

.logo img {
    height: 60px;
	
}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.menu a:hover {
    color: #e60023;
}

.acciones .icono {
    width: 28px;
    margin-left: 15px;
    cursor: pointer;
}
